@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --radius: 0.5rem;
  --background: oklch(1.000 0.000 0);
  --foreground: oklch(0.144 0.003 260.85553790638954);
  --card: oklch(1.000 0.000 0);
  --card-foreground: oklch(0.144 0.003 260.85553790638954);
  --popover: oklch(1.000 0.000 0);
  --popover-foreground: oklch(0.144 0.003 260.85553790638954);
  --primary: oklch(0.527 0.213 261.10728296882945);
  --primary-foreground: oklch(0.961 0.002 261.5135241190297);
  --secondary: oklch(0.900 0.015 261.5027749651074);
  --secondary-foreground: oklch(0.207 0.018 261.28708393303197);
  --muted: oklch(0.900 0.015 261.5027749651074);
  --muted-foreground: oklch(0.521 0.076 260.99761235193193);
  --accent: oklch(0.800 0.061 261.325952898914);
  --accent-foreground: oklch(0.200 0.039 260.7605256808105);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.832 0.025 261.4788359077601);
  --input: oklch(0.832 0.025 261.4788359077601);
  --ring: oklch(0.527 0.213 261.10728296882945);
  --chart-1: oklch(0.527 0.213 261.10728296882945);
  --chart-2: oklch(0.654 0.136 260.70567920027713);
  --chart-3: oklch(0.754 0.076 261.2159364729657);
  --chart-4: oklch(0.405 0.165 261.14379671978253);
  --chart-5: oklch(0.318 0.117 260.7738471668955);
  --sidebar: oklch(0.900 0.015 261.5027749651074);
  --sidebar-foreground: oklch(0.207 0.018 261.28708393303197);
  --sidebar-primary: oklch(0.527 0.213 261.10728296882945);
  --sidebar-primary-foreground: oklch(0.961 0.002 261.5135241190297);
  --sidebar-accent: oklch(0.800 0.061 261.325952898914);
  --sidebar-accent-foreground: oklch(0.200 0.039 260.7605256808105);
  --sidebar-border: oklch(0.832 0.025 261.4788359077601);
  --sidebar-ring: oklch(0.527 0.213 261.10728296882945);
}

.dark {
  --background: oklch(0.206 0.021 261.2042967384457);
  --foreground: oklch(0.961 0.002 261.5135241190297);
  --card: oklch(0.246 0.028 261.1447514831635);
  --card-foreground: oklch(0.961 0.002 261.5135241190297);
  --popover: oklch(0.246 0.028 261.1447514831635);
  --popover-foreground: oklch(0.961 0.002 261.5135241190297);
  --primary: oklch(0.565 0.186 260.5776657184012);
  --primary-foreground: oklch(0.961 0.002 261.5135241190297);
  --secondary: oklch(0.258 0.025 261.2323451516843);
  --secondary-foreground: oklch(0.959 0.006 261.51208589615);
  --muted: oklch(0.258 0.025 261.2323451516843);
  --muted-foreground: oklch(0.711 0.027 261.4585181966351);
  --accent: oklch(0.365 0.093 260.5620341501563);
  --accent-foreground: oklch(0.955 0.013 261.5057059545079);
  --destructive: oklch(0.580 0.237 28.43022926835137);
  --border: oklch(0.350 0.046 261.0587466986685);
  --input: oklch(0.350 0.046 261.0587466986685);
  --ring: oklch(0.565 0.186 260.5776657184012);
  --chart-1: oklch(0.565 0.186 260.5776657184012);
  --chart-2: oklch(0.694 0.133 260.77677730832784);
  --chart-3: oklch(0.786 0.095 261.12085147894356);
  --chart-4: oklch(0.446 0.139 260.5365384342689);
  --chart-5: oklch(0.365 0.093 260.5620341501563);
  --sidebar: oklch(0.322 0.042 261.0755347849891);
  --sidebar-foreground: oklch(0.961 0.002 261.5135241190297);
  --sidebar-primary: oklch(0.565 0.186 260.5776657184012);
  --sidebar-primary-foreground: oklch(0.961 0.002 261.5135241190297);
  --sidebar-accent: oklch(0.365 0.093 260.5620341501563);
  --sidebar-accent-foreground: oklch(0.955 0.013 261.5057059545079);
  --sidebar-border: oklch(0.350 0.046 261.0587466986685);
  --sidebar-ring: oklch(0.565 0.186 260.5776657184012);
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}